<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Download your code from NEUOJ</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
    <link href="https://app.ipearworks.cn/entry.css" rel="stylesheet"/>
</head>
<body>
<script src="https://ipearworks.cn/NEU-Mathe-Local/back-cartoon.js"></script>
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
<div id="app" data-v-34b6b379 class="content">
    <form data-v-34b6b379 method="post" action="/get" class="mu-form form">
        <div data-v-34b6b379
             class="mu-form-item mu-form-item__float-label mu-form-item__has-label mu-form-item__error" full-width="">
            <div class="mu-form-item-content">
                <div data-v-13e5bcce="" class="mu-input  mu-input__error">
                    <div class="mu-text-field mu-input-content">
                        <input tabindex="0" autocomplete="username"
                               name="username" type="text"
                               class="mu-text-field-input" value="Student ID">
                        <div>
                            <div class="mu-input-line"></div>
                            <div class="mu-input-focus-line "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div data-v-34b6b379
             class="mu-form-item mu-form-item__float-label mu-form-item__has-label mu-form-item__error">
            <div class="mu-form-item-content">
                <div data-v-34b6b379="" class="mu-input  marginTop mu-input__error full-width">
                    <div class="mu-text-field mu-input-content">
                        <input tabindex="0" autocomplete="current-password"
                               name="password" type="password"
                               class="mu-text-field-input" value=""
                               style="min-width: 64px;">
                        <div>
                            <div class="mu-input-line"></div>
                            <div class="mu-input-focus-line "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div data-v-34b6b379="" class="d-flex flex-row justify-content-center align-items-center ">
            <input type="submit" name="submit" value="Start" data-v-34b6b379
                   class="mu-button mu-raised-button mu-primary-color mu-inverse  mu-button-round"
                   style="user-select: none; outline: none; -webkit-appearance: none; width: 70%;margin:0 auto;"/>
        </div>
    </form>
</div>
</body>
</html>